*{
    font-family: 'Lato', sans-serif;
}

@media only screen and (max-width: 768px)
{
    body
    {
        max-width: 768px;
        background-color: purple;
    }
}

body
{
    background-color: #FAD7A0;
}

#mainHeader
{
    text-align: center;
}

/* Journal 3 (April 8th)*/

/* Journal 2 (April 7th)*/

img
{
    position: relative;
}

/* Journal 1 (April 6th)*/

h3 + div
{
    color: red;
    position: static;

}

#flx
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

div.imHiding
{
    display: none;
}


/* FORM EDITS */
#publish /* publish button + hover */
{
    margin: .2em .2em;
    background-color: hsla(204, 8%, 76%, 1);
    height: 2em;
    width: 4.5em;
    border-color: black;
    border-radius: 5px; /* rounded corners */
    border-style: none;
    text-decoration: none;
}

#publish:hover
{
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
}

#publish:active
{
    background-color: #5D6D7E;
}

#subject
{
    margin-top: 10px;
    margin-bottom: 10px;
}

label[target="text"]
{
    padding-left: 15px;
}

legend ~ label
{
    margin: 10px;
    color: #1A5276;
}

fieldset textarea
{
    background-color: #E5E8E8;
}

/* Header and footer */
nav
{
    text-align: center;
}

a:visited
{
    color: #FAD7A0;
}

nav > a
{
    margin: auto;
    text-align: center;
    color: purple;
    padding: 0px 10px 0px 10px;
}

header, footer
{
    text-align: left;
}

.header_footer
{
    height: 20px;
    width: 120px;
    color: rgb(52,73,94);
}
